streamlit>=1.37.0
python-dotenv>=1.0.1
raganything==1.2.7
ollama>=0.5.3
mineru==2.1.11   # NO [all] to avoid sglang/flashinfer-python
openai>=1.37.0
pyvis>=0.3.2
pypdf>=3.15.0
pdfminer.six>=20221105
docling
